.flex{
	display: flex;
}

.between{
	justify-content: space-between;
}

.mx-3{
	margin-left: 45px;
	margin-right: 45px;
}

.my-1{
	margin-top: 15px;
	margin-bottom: 15px;
}

.my-3{
	margin-top: 45px;
	margin-bottom: 45px;
}

.border-y{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.border-top{
	border-top: 1px solid black;
}

.title{
	font-size: 40px;

}

.no-scroll{
	height: 98vh;
	width: 99vw;
	overflow: hidden;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.h-50{
	height: 50%;
}

.w-50{
	width: 100%;
}

.h-100{
	height: 100%;
}

.h-center{
	align-items: center;
}

.h4{
	font-size: 30px;
}

.h7{
	font-size: 20px;
}

.mx-5{
	margin-left: 75px;
	margin-right: 75px;
}

.wv-40{
	width: 70vw;
}

th, td, tr{
	border: 1px black solid;
}